<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <p>
         Welcome <strong><%= user.username %></strong>
         <a href="/signout" title="sign out">sign out</a>
      </p>
   </body>
</html>